.Home {

    text-align: center;
    padding: 100px;
    margin: 100px auto;
}

.Home input {
    padding: 20px;
    box-shadow: 1px 2px 3px #eee;
    border-radius: 5px;
    width: 600px;
    display: inline-block;
}


.Home .Button-search {
    padding: 20px;
    box-shadow: 1px 2px 3px #eee;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.Search-result-page {
    padding: 20px 100px;
    margin: 20px auto;
}

.Search-result-page .Result-items {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 2px 3px;
    margin: 20px auto;
}